<div class="row no-gutters ">
    <div class="col-md-9 no-gutters ">

        <div class="padding-m borderB borderBasic">
            <h5 class="color-primary no-margin userMainHeading">MY PROFILE</h5>
        </div>

        <div class="col-md-12 midDataSection">
            <div class="block padding-m">

                <div class="profileInfoBox padding-m-B">
                    <div class="bg-color-secondary color777 font16 padding-l text-center">
                        Click on links blow profile image to edit you personal details.
                    </div>

                    <div class="no-gutters row color777 padding-m-LR">
                        <div class="set padding-m-TB font20">Bio Graph</div>
                        <div class="col-md-6 padding-s-TB row">
                            <div class="col-md-4 font13">Name</div> 
                            <div class="col-md-8 fontB">: Jatinder Singh</div> 
                        </div>

                        <div class="col-md-6 padding-s-TB row">
                            <div class="col-md-4 font13">DOB</div> 
                            <div class="col-md-8 fontB">: 25 Nov, 1991</div> 
                        </div>


                        <div class="col-md-6 padding-s-TB row">
                            <div class="col-md-4 font13">District</div> 
                            <div class="col-md-8 fontB">: Anantnag</div> 
                        </div>


                        <div class="col-md-6 padding-s-TB row">
                            <div class="col-md-4 font13">Village</div> 
                            <div class="col-md-8 fontB">: Chithi Singh Pora</div> 
                        </div>


                        <div class="col-md-6 padding-s-TB row">
                            <div class="col-md-4 font13">Occupation</div> 
                            <div class="col-md-8 fontB">: Software Engineer</div> 
                        </div>


                        
                        <div class="col-md-6 padding-s-TB row">
                            <div class="col-md-4 font13">Mobile </div> 
                            <div class="col-md-8 fontB">: 8826 968 038</div> 
                        </div>

                        <div class="col-md-6 padding-s-TB row">
                            <div class="col-md-4 font13">Affilated Gurudwara </div> 
                            <div class="col-md-8 fontB">: Gurudwara Samundri Hall</div> 
                        </div>

                        <div class="col-md-6 padding-s-TB row">
                            <div class="col-md-4 font13">Daswand Amuout</div> 
                            <div class="col-md-8 fontB">: {{300 | currency:'INR'}}</div> 
                        </div>


                        <!-- <div class="col-md-6 padding-s-TB">DOB</div>
                        <div class="col-md-6 padding-s-TB">Name</div>
                        <div class="col-md-6 padding-s-TB">DOB</div>
                        <div class="col-md-6 padding-s-TB">Name</div>
                        <div class="col-md-6 padding-s-TB">DOB</div> -->
                    </div>
                </div>

            </div><!-- end of block-->

        </div>
    </div>

    <div class="col-md-3 padding-s">
        <div class="borderAll borderBasic profileWrapper">
            <div class="profilerBox text-center">
                <div class="flex-wrapper">
                    <div class="profileImgWrapper">
                        <img class="full" src="./assets/images/pp.jpg">
                    </div>
                    <div class="supplementContent padding-m-T">
                        <div class="userMainHeading">Jatinder Singh</div>
                        <div class="font13">jatindersingh@gmail.com</div>
                    </div>
                </div>
            </div><!-- end of profileBox-->

            <div class="profileLinks">
                <ul class="font13 no-margin">
                    <li>4 star</li>
                    <li class="profileEdit">Edit Profile</li>
                    <li class="profilePass">Change Password</li>
                    <li class="profileImg">Change Profile Image</li>
                </ul>
            </div>
        </div>
    </div>
</div>