<form (ngSubmit)="login()">
  <div class="row">
    <div class="mb-4 col-md-12">
      <input
        type="text"
        class="form-control"
        id="userLogin"
        placeholder="User Name/Phone Number"
        required
        name="userName"
        ngModel
      />
    </div>
    <div class="mb-4 col-md-12">
      <input
        type="password"
        class="form-control"
        id="userPassword"
        placeholder="Password"
        name="password"
        ngModel
      />
    </div>

    <div class="mt-2 text-center col-md-12">
      <button
        type="submit"
        class="btn btn-custom-primary btn-primary btn-rounded-16 btn-sm pb-2 pl-5 pr-5 pt-2"
      >
        Login
      </button>
    </div>
  </div>
</form>
