<div class="wrapper set bg-grey"  style="height: calc(100vh - 62px); display: flex; align-items: center">
  <div class="container">
    <div class="shadowBordered bg-white">
      <div class="row no-gutters">
        <div class="col-md-4 bg-color-primary">
          <div class="vCenteredSection vhFull">
            <div class="set text-center">
              <h2 class="text-center color-white">Welcome Back!</h2>
              <div class="color-white mt-3 mb-3 fontL font13">
                Register with us to be a part of selfless guru's servie<br />
                Register with your personal Info
              </div>
              <button type="button"
                class="btn btn-outline-primary btn-sm pl-5 pr-5 pt-2 pb-2 btn-rounded-16 mt-3 btn-singIn"
                [routerLink]="'/login'">
                SIGN IN
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <form (ngSubmit)="RegisterUser(regForm)" #regForm="ngForm">
            <div class="row" style="padding: 24px 24px">
              <div class="text-center col-md-12 mb-4">
                <h2 class="color-primary">Create Account</h2>
              </div>
              <div class="mb-4 col-md-6">
                <!-- <label for="fName" class="form-label">First Name </label> -->
                <!-- <input type="text"
                placeholder="Datepicker"
                class="form-control"
                bsDatepicker > -->
                <input type="text" class="form-control" id="fName" ngModel required name="firstname" placeholder="First Name" />
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="lName" class="form-label">Last Name </label> -->
                <input type="text" class="form-control" id="lName" ngModel name="lastname" placeholder="Last Name" />
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="pass" class="form-label">Set Password </label> -->
                <input type="password" class="form-control" id="pass" ngModel name="password" placeholder="Set Password" />
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="cpass" class="form-label">Confirm Password </label> -->
                <input type="password" class="form-control" id="cpass" ngModel name="confirmpassword" placeholder="Confirm Password" />
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="email" class="form-label">Email address</label> -->
                <input type="email" class="form-control" id="email" ngModel required name="email" email placeholder="Email" />
              </div>

              <div class="mb-4 col-md-6">
                <label for="gender" class="form-label mr-3">Gender : </label>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="Gender" value="0" [ngModel]="'0'"
                    required />
                  <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="Gender" value="1" required />
                  <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="fhName" class="form-label">Father's/Husband's Name
                </label> -->
                <input type="text" class="form-control" id="fhName" required ngModel name="gaurdianname" placeholder="Father's/ Husband's" />
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="fhName" class="form-label">Adhaar Number </label> -->
                <input type="text" class="form-control" id="apNumber" ngModel required name="adhaarnumber" placeholder="Adhaar Number" />
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="pNumber" class="form-label">Phone Number</label> -->
                <input type="tel" class="form-control" id="pNumber" ngModel name="phonenumber" required placeholder="Phone Number" />
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="aNumber" class="form-label">Alternate Number</label> -->
                <input type="tel" class="form-control" id="aNumber" ngModel name="alternatenumber" placeholder="Alternate Number" />
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="desg" class="form-label mr-3">Designation : </label> -->

                <!-- <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="desg" id="desg1" value="desgoption1">
                              <label class="form-check-label" for="govtEmp">Govt. Emp</label>
                          </div>

                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="desg" id="desg2" value="desgoption1">
                              <label class="form-check-label" for="retdemp">Retired Emp</label>
                          </div>

                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="desg" id="desg3" value="desgoption2">
                              <label class="form-check-label" for="pvtemp">Private Emp</label>
                          </div> -->
                <!-- <label for="deptName" class="form-label">Designation </label> -->
                <select class="form-control" ngModel="Designation" name="designation" required>
                  <option selected>Designation</option>
                  <option value="1">Govt. Employee</option>
                  <option value="2">Retired Employee</option>
                  <option value="3">Private Employee</option>
                </select>
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="deptNamepvt" class="form-label">Department Name
                </label> -->
                <select class="form-select form-control" aria-label="Default select example" ngModel="Department Name" required
                  name="departmentname">
                  <option selected>Department Name</option>
                  <option value="1">Special Police Officers(SPO)</option>
                  <option value="2">Software Engineers(IT/CS)</option>
                  <option value="3">J&K Bank Employee</option>
                  <option value="4">Others</option>
                </select>
              </div>

              <div class="mb-4 col-md-6">
                <label for="gender" class="form-label mr-3">Area : </label>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="area" id="ubn" value="0" [ngModel]="'0'"
                    required />
                  <label class="form-check-label" for="ubn">Urban</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="area" id="ubn" value="1" required />
                  <label class="form-check-label" for="ubn">Rural</label>
                </div>
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="deptNamepvt" class="form-label">District </label> -->
                <select class="form-select form-control" aria-label="Default select example" ngModel="District" name="District"
                  required>
                  <option selected>District</option>
                  <option value="1">Anantnag</option>
                  <option value="2">Pulwama</option>
                  <option value="3">Baramullah</option>
                  <option value="4">Srinagar</option>
                  <option value="5">Budgham</option>
                </select>
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="vName" class="form-label"> Village </label> -->

                <select class="form-control" ngModel="Village" name="village" required> 
                  <option selected>Village</option>
                  <option value="1">Chithi Singh Pora</option>
                  <option value="2">Huttmarha</option>
                  <option value="3">Mattan</option>
                  <option value="4">Singhpora</option>
                  <option value="5">Nowgam</option>
                  <option value="5">Nambal</option>
                </select>
              </div>

              <div class="mb-4 col-md-6">
                <!-- <label for="vGname" class="form-label">
                  Affilated Gurdwara Sahib
                </label> -->
                <select class="form-control" ngModel="Affilated Gurdwara Sahib" name="gurdwara" required>
                  <option selected>Affilated Gurdwara Sahib</option>
                  <option value="1">Gurdwara Singh Sabha</option>
                  <option value="2">Gurudwara Bawli Sahib</option>
                  <option value="3">Gurudwara Shokeen Malha</option>
                </select>
              </div>

              <div class="mt-2 text-center col-md-12">
                <button type="submit"
                  class="btn btn-custom-primary btn-primary btn-rounded-16 btn-sm pb-2 pl-5 pr-5 pt-2"
                  [disabled]="!regForm.valid">
                  REGISTER
                </button>
              </div>
            </div>
          </form>
          <!-- end of row-->
        </div>

        <!-- <div class="col-md-8 text-center" [hidden]="!isShowThanks">
          <p>Thanks for registering!!!</p>
          <div class="btn-group">
            <button
              class="btn btn-custom-primary btn-primary btn-rounded-16 btn-sm pb-2 pl-5 pr-5 pt-2"
              [routerLink]="['/login']"
            >
              Login
            </button>
            <button
              class="btn btn-custom-primary btn-primary btn-rounded-16 btn-sm pb-2 pl-5 pr-5 pt-2"
              (click)="isShowThanks = false"
            >
              Register
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- end of container-->
</div>
<!-- end of wrapper-->