<div class="container-fluid no-padding">
    <div class="landingPageWrapper">
        <div class="sliderWrapper" style="position: relative;">
            <div class="container" style="position: relative;">
                <div class="sliderImgContent">
                    <h2>Be a part of selfless service</h2>
                    <div class="padding-s-TB captionText"> Lorem Ipsum is simply dummy text of the printing &
                        typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text.
                    </div>
                    <div class="btnContainer">
                        <button type="button"
                            class="bg-light btn btn-rounded-16 color777 fontB mt-3 pb-2 pl-4 pr-4 pt-2"
                            tabindex="0" [routerLink]="'/register'"> REGISTER </button>
                            <button type="button"
                            class="bg-light btn btn-rounded-16 color777 fontB mt-3 pb-2 pl-4 pr-4 pt-2"
                            tabindex="0" [routerLink]="'/login'"> LOGIN </button>
                    </div>
                </div>

            </div>
        </div><!-- end of sliderWrapper-->

        <div class="bg-color-secondary padding-l-TB testimonialWrapper">
            <div class="container">
                <div>
                    <h2 class="text-center padding-l-TB">WHAT OUR CLIENTS SAY</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="color777 singleTestimonialWrap">
                            <div>Rating</div>
                            <div class="font-italic padding-s-TB">Lorem Ipsum is simply dummy text of the printing &
                                typesetting industry.Lorem Ipsum is simply dummy text of the printing &
                                typesetting industry</div>

                                <div class="profileImgWrapper w80 floatL">
                                    <img class="full" src ="./assets/images/pp.jpg">
                                </div>
                                <div class="supportingData floatL ">
                                    <div class="fontB">Jatinder Singh</div>
                                    <div>Chithi singh pora</div>
                                </div>
                        </div>
                    </div><!-- end -->
                    <div class="col-md-4">
                        <div class="color777 singleTestimonialWrap">
                            <div>Rating</div>
                            <div class="font-italic padding-s-TB">Lorem Ipsum is simply dummy text of the printing &
                                typesetting industry.Lorem Ipsum is simply dummy text of the printing &
                                typesetting industry</div>

                                <div class="profileImgWrapper w80 floatL">
                                    <img class="full" src ="./assets/images/pp.jpg">
                                </div>
                                <div class="supportingData floatL ">
                                    <div class="fontB">Jatinder Singh</div>
                                    <div>Chithi singh pora</div>
                                </div>
                        </div>
                    </div><!-- end -->
                    <div class="col-md-4">
                        <div class="color777 singleTestimonialWrap">
                            <div>Rating</div>
                            <div class="font-italic padding-s-TB">Lorem Ipsum is simply dummy text of the printing &
                                typesetting industry.Lorem Ipsum is simply dummy text of the printing &
                                typesetting industry</div>

                                <div class="profileImgWrapper w80 floatL">
                                    <img class="full" src ="./assets/images/pp.jpg">
                                </div>
                                <div class="supportingData floatL ">
                                    <div class="fontB">Jatinder Singh</div>
                                    <div>Chithi singh pora</div>
                                </div>
                        </div>
                    </div><!-- end -->
                </div>
            </div>

        </div>


    </div>
</div>