/* You can add global styles to this file, and also import other style files */
html,body{
    font-size: 14px
}
.font13{
    font-size: 13px;
}
.font16{
    font-size: 16px
}
.font20{
    font-size: 20px
}
.fontB{
    font-weight: 500;
}
.fontL{
    font-weight: 200;
}
.set{
    float: left;
    width: 100%
}
.bg-grey{
    background-color: #f0f4f3;
}
.bg-white{
    background-color: #fff;
}
.shadowBordered{
    border: 1px solid #e5e5e5;
    margin-top: 16px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 16px;
    overflow: hidden;
}
.vCenteredSection{
    display: flex;
    align-items: center;
}
.vhFull{
    height: 100%;
}
.color777{
color: #777;
}
/*border set*/
.borderAll{
    border: 1px solid;
}
.borderT{
    border-top: 1px solid;
}
.borderB{
    border-bottom: 1px solid;
}
.borderL{
    border-left: 1px solid;
}
.borderR{
    border-right: 1px solid;
}
.borderBasic{
    border-color:#e2e2e2
}
.borderBlack{
    border-color: #000
}
.borderTheme{
border-color: #3aaf9f
}
/*end*/

.no-margin{
    margin:0
}

/*padding set*/
.no-padding{
    padding: 0px
}
.no-padding-LR{
    padding-left: 0px;
    padding-right: 0px
}
.no-padding-TB{
    padding-top: 0px;
    padding-bottom: 0px
}
.no-padding-T{
    padding-top: 0px;
}
.no-padding-B{
    padding-bottom: 0px
}
.no-padding-L{
    padding-left: 0px;
}
.no-padding-R{
    padding-right: 0px
}
.padding-l{
    padding: 24px;
}
.padding-l-TB{
    padding: 24px 0px;
}
.padding-l-LR{
    padding: 0px 24px;
}
.padding-l-T{
    padding-top: 24px;
}
.padding-l-B{
    padding-bottom: 24px;
}
.padding-l-L{
    padding-left: 24px;
}
.padding-l-R{
    padding-right: 24px;
}


.padding-m{
    padding: 16px;
}
.padding-m-TB{
    padding: 16px 0px;
}
.padding-m-LR{
    padding: 0px 16px;
}
.padding-m-T{
    padding-top: 16px;
}
.padding-m-B{
    padding-bottom: 16px;
}
.padding-m-L{
    padding-left: 16px;
}
.padding-m-R{
    padding-right: 16px;
}


.padding-s{
    padding: 8px !important;
}
.padding-s-TB{
    padding: 8px 0px;
}
.padding-s-LR{
    padding: 0px 8px;
}
.padding-s-T{
    padding-top: 8px;
}
.padding-s-B{
    padding-bottom: 8px;
}
.padding-s-L{
    padding-left: 8px;
}
.padding-s-R{
    padding-right: 8px;
}


/*end*/
.form-control{
    background-color: #f4f8f7;
    border: none;
    border-radius: 0px;
}
.color-primary{
    color: #3aaf9f;
}
.color-white{
    color: #fff
}
.color-fade{
    color: #aaa
}
.bg-color-primary,
.btn-custom-primary{
    background-color: #3aaf9f;
    border-color: #3aaf9f;
}
.bg-color-secondary{
    background-color: #f2f2f2;
}
.btn-custom-primary:hover{
    background-color: #268b7e;
    border-color: #268b7e;
}
.btn-rounded-16{
    border-radius: 16px;
}
.btn.btn-singIn{
    border-color: #fff;
    color: #fff;
}
.btn.btn-singIn:hover{
    background-color: #fff;
    border-color: #fff;
    color: #3aaf9f
}
label.form-label{
    margin-bottom: .2rem;
}
.borderHeading{
border-bottom: 2px solid;
padding-bottom: 2px;
}
.sideNavigation{
    background: #f6f6f6;
    height: calc(100vh - 56px);
    position: absolute;
    left: 0;
    width: 250px;
}

.sideNavigation ul li{
    padding: 14px 16px;
    color: #999
}
.sideNavigation ul li:before,.profileLinks ul li + li:before{
width: 20px;
height: 20px;
display: inline-block;
margin: 0 auto;
content: "";
background: url(/assets/icons-sprite.png) center -980px;
vertical-align: middle;
margin-right: 5px;
}
.sideNavigation ul li.dashboard:before {
    background-position: center -1022px;
}
.sideNavigation ul li.portfolio:before {
    background-position: center -1502px;
}
.sideNavigation ul li.transactions:before {
    background-position: center -1062px;
}
.sideNavigation ul li.settings:before {
    background-position: center -980px;
}
.sideNavigation ul li.download-center:before {
    background-position: center -2440px;
}
.sideNavigation ul li:hover{
background-color: #eef1f3;
color: #555;
cursor:pointer;
}
.userMainHeading{
    font-size: 20px;
    letter-spacing: 0.7px
}
.das-tab{

}

.das-tab .nav-tabs .nav-link{
    color: #1e1e1e;
    padding: 1rem 3rem;
}
.das-tab .nav-tabs .nav-link.active{
    font-weight: 500;
    background-color: #f2f2f2;
}

.das-tab .tabBody{
    border: 1px solid #dee2e6 ;
    margin-top: -2px;
    padding: 24px;
    background-color: #f2f2f2;
    font-size: 13px
    /* position: relative; */
}
.das-tab .tabBody .row{
    padding: 8px 16px;
    background-color: #fff;
    margin-bottom: 10px
}
.table.trnxTable td, .table.trnxTable th{
    padding: 8px;
    border-color: #eee;
    color: #555;
    font-size: 13px;
}
.table.trnxTable th{
    border-top: none;
    border-bottom: 1px solid #eee;
    color: #777
}
.table.trnxTable .badge{
font-weight: normal
}
.midDataSection{
    box-shadow: -1px 0 5px rgba(0,0,0,.05);
}
.profileWrapper{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.profilerBox{
    color: #fff;
    background-color: #3aaf9f;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 250px;
    text-align: center;
}
.profileImgWrapper{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #efefef;
}
img.full{
    width: 100%;
    height: 100%;
}
.profileLinks ul li{
    padding: 10px 20px;
    border-top: 1px solid;
    border-color: #e2e2e2;
    color: #777;
}
.profileLinks ul li.profileEdit:before {
    background-position: center -1352px;
}
.profileLinks ul li.profilePass:before {
    background-position: center -258px;
}
.profileLinks ul li.profileImg:before {
    background-position: center -1000px;
}

.profileLinks ul li:hover{
    cursor: pointer;
    background-color:#eef1f3
}
.profileInfoBox{
    border: 1px solid #e1e1e1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}