<div class="container-fluid content-wrapper no-padding borderT borderBasic">
    <div class="row no-gutters">
        <div class="col-md-2 sideNavigation">
            <ul class="">
                <li class="dashboard" routerLink="/dashboard" [routerLinkActive]="['active']">Dashboard</li>
                <li class="portfolio" routerLink="./portfolio" [routerLinkActive]="['active']">Portfolio</li>
                <li class="transactions" routerLink="./transactions" [routerLinkActive]="['active']">Transactions</li>
                <li class="settings" routerLink="./settings" [routerLinkActive]="['active']">Settings</li>
                <li class="download-center">Download Center</li>
            </ul>
        </div>
        <div class="col-md-10 no-gutters " style="display: none;">

            <div class="padding-m borderB borderBasic">
                <h5 class="color-primary no-margin userMainHeading">DASHBOARD</h5>
            </div>

            <div class="col-md-9 midDataSection">
                <div class="block padding-m-LR">

                    <div class="padding-m-TB " >
                        <h6 class="color-primary borderHeading borderTheme">UPCOMING TRANSACTIONS</h6>
                        
                        <div class="text-center padding-l color-fade font16 noPendingTrnx" style="display: none">No upcoming transactions</div>

                        <div class="upcomingTrnx padding-s-T">
                            <table class="table trnxTable">
                                <thead>
                                  <tr>
                                    
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col" class="text-center">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td >5 Mar</td>
                                    <td><span class="badge bg-warning text-dark">PENDING</span></td>
                                    <td>Monthly Daswandh</td>
                                    <td class="fontB">{{300 | currency:'INR'}}</td>
                                    <td class="text-center"><button type="button" class="btn btn-custom-primary btn-primary btn-rounded-16 btn-sm pl-4 pr-4">PAY</button></td>
                                  </tr>
                                  <tr>
                                    <td>5 Mar</td>
                                    <td><span class="badge bg-warning text-dark">PENDING</span></td>
                                    <td>Gurugonding Singh Ji Parkash Purab</td>
                                    <td class="fontB">{{300 | currency:'INR'}}</td>
                                    <td class="text-center"><button type="button " class="btn btn-custom-primary btn-primary btn-rounded-16 btn-sm pl-4 pr-4">PAY</button></td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
    

                    </div>



                </div><!-- end of block-->
                <div class="block padding-m-LR">
                    <div class="padding-m-TB">
                        <h6 class="borderHeading borderBlack">RECENT ACTIVITY</h6>
                        <div class="padding-m-T das-tab">
                            <tabset>
                                <tab heading="Feb 2021">
                                    <div class="row no-gutters tabBody">
                                        <div class="col-md-12 row no-gutters padding-m-LR">
                                            <div class="col-md-7">Daswandh Paid</div>
                                            <div class="col-md-3 fontB">{{300 | currency:'INR'}}</div>
                                        </div>
                                        <div class="col-md-12 row no-gutters padding-m-LR">
                                            <div class="col-md-7">Date</div>
                                            <div class="col-md-3 fontB">Feb 5, 2021</div>
                                        </div>

                                        <div class="col-md-12 row no-gutters padding-m-LR">
                                            <div class="col-md-7">Gurudwara Sahib</div>
                                            <div class="col-md-3 fontB">Gurudwara Singh Sabha </div>
                                        </div>
                                        <div class="col-md-12 row no-gutters padding-m-LR">
                                            <div class="col-md-7">Mode</div>
                                            <div class="col-md-3 fontB">Online</div>
                                        </div>
                                        <div class="mt-2 text-center col-md-12">
                                            <button type="button"
                                                class="btn btn-custom-primary btn-primary btn-rounded-16 btn-sm pb-2 pl-5 pr-5 pt-2">DOWNLOAD SLIP</button>
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Jan 2021">
                                    <div class="row no-gutters tabBody">
                                        <div class="col-md-12 row no-gutters padding-m-LR">
                                            <div class="col-md-7">Daswandh Paid</div>
                                            <div class="col-md-3 fontB">{{300 | currency:'INR'}}</div>
                                        </div>
                                        <div class="col-md-12 row no-gutters padding-m-LR">
                                            <div class="col-md-7">Date</div>
                                            <div class="col-md-3 fontB">Jan 5, 2021</div>
                                        </div>

                                        <div class="col-md-12 row no-gutters padding-m-LR">
                                            <div class="col-md-7">Mode</div>
                                            <div class="col-md-3 fontB">Online</div>
                                        </div>
                                        <div class="mt-2 text-center col-md-12">
                                            <button type="button"
                                                class="btn btn-custom-primary btn-primary btn-rounded-16 btn-sm pb-2 pl-5 pr-5 pt-2">DOWNLOAD SLIP</button>
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Dec 2020">
                                    <div class="row no-gutters tabBody">
                                        <div class="col-md-12 row no-gutters padding-m-LR">
                                            <div class="col-md-7">Daswandh Paid</div>
                                            <div class="col-md-3 fontB">{{300 | currency:'INR'}}</div>
                                        </div>
                                        <div class="col-md-12 row no-gutters padding-m-LR">
                                            <div class="col-md-7">Date</div>
                                            <div class="col-md-3 fontB">Dec 10, 2020</div>
                                        </div>

                                        <div class="col-md-12 row no-gutters padding-m-LR">
                                            <div class="col-md-7">Mode</div>
                                            <div class="col-md-3 fontB">Online</div>
                                        </div>
                                        <div class="mt-2 text-center col-md-12">
                                            <button type="button"
                                                class="btn btn-custom-primary btn-primary btn-rounded-16 btn-sm pb-2 pl-5 pr-5 pt-2">DOWNLOAD SLIP</button>
                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div><!-- end of block-->
            </div>



        </div>

        <router-outlet></router-outlet>

    </div>
</div>