<div class="container-fluid content-wrapper no-padding borderT borderBasic" style="position: relative; padding-left:250px">
    
        <div class="sideNavigation">
            <ul class="">
                <li class="dashboard" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</li>
                <li class="portfolio" routerLink="./portfolio" [routerLinkActive]="['active']">Portfolio</li>
                <li class="transactions" routerLink="./transactions" [routerLinkActive]="['active']">Transactions</li>
                <li class="settings" routerLink="./settings" [routerLinkActive]="['active']">Settings</li>
                <li class="download-center">Download Center</li>
            </ul>
        </div>
       
    
    <router-outlet></router-outlet>
</div>